<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--单独配置SpringMVC的组件扫描-->
    <context:component-scan base-package="com.lxl.controller"/>

    <!--配置MVC的注解驱动-->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!--声明自定义的类型转换器-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.lxl.converter.DateConverter"/>
            </list>
        </property>
    </bean>

    <!--配置文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="500000"/>
    </bean>


    <!--开放资源的访问权限-->
    <!--mapping代表是哪个请求映射地址-->
    <!--location代表是哪个目录下的资源-->
    <!--<mvc:resources mapping="/js/**" location="/js/"/>-->
    <!--<mvc:resources mapping="/images/**" location="/images/"/>-->

    <!--代表DispatcherServlet找不到请求资源后，交给原始容器去找-->
    <mvc:default-servlet-handler/>

</beans>